# Flutter build outputs
build/
.android/
.ios/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
*.iml
devtools_options.yaml
macos/Flutter/GeneratedPluginRegistrant.swift
pubspec.lock
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
