# Flutter build outputs
build/
.android/
.ios/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
*.iml
pubspec.lock

# Platform-specific generated plugin registrants
linux/

macos/

windows/

# Tooling local settings
devtools_options.yaml
